<section class="row">
  <article class="column">
    <h1>Prime Calculator</h1>
    <ul>
      <li>
        <a href="/prime_calculators">Prime Calculators</a>
      </li>
    </ul>
  </article>
</section>
