<%= form_for @conn, @action, fn f -> %>
  <%= label f, :limit, "Calculate to n-th prime" %>
  <%= number_input f, :limit %>
  <%= error_tag f, :limit %>

  <div>
    <%= submit "Start" %>
  </div>
<% end %>
