<h1>New Prime calculator</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.prime_calculator_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.prime_calculator_path(@conn, :index) %></span>
